.section-cards {
	position: relative;
	padding-bottom: 0;
	width: 100%;
}

.section-cards__gradient {
	z-index: -1;
	position: absolute;
	background: linear-gradient(360deg,
			rgba(1, 22, 39, 1) 0%,
			rgba(1, 22, 39, 1) 25%,
			rgba(1, 22, 39, 1) 45%,
			rgba(1, 22, 39, 1) 50%,
			rgba(1, 22, 39, 1) 55%,
			rgba(1, 22, 39, 0.9) 65%,
			rgba(1, 22, 39, 0.7) 75%,
			rgba(1, 22, 39, 0) 85%,
			rgba(1, 22, 39, 0) 100%);
	height: 100%;
	width: 100%;
}

.section-cards__container {
	padding: 100px 215px 0 215px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	border: 1px solid var(--color-main-background);
	background-color: var(--color-main-background);
	width: 100%;
}

.cards-title__primary {
	padding-bottom: 30px;
	color: var(--color-white);
}

.cards-subtitle__primary {
	color: var(--color-white);
	padding-bottom: 72px;
}

.section-cards__card {
	flex-wrap: wrap;
	display: flex;
	gap: 24px;
	padding-bottom: 150px;
}

.cards-card {
	box-shadow: 0px 20px 30px 0px #00c9e008;
	border-radius: 8px;
	position: relative;
	padding: 75px 100px 75px 100px;
	border: 1px solid var(--color-cards);
	background-color: var(--color-cards);
	width: 48%;
	height: max-content;
}

.section-cards__apostrophe {
	position: absolute;
	left: 50px;
}

.cards-card__container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	color: var(--color-white);
	line-height: 35px;
	margin-bottom: 20px;
}

.cards-card__description {
	line-height: 35px;
}

.cards-card__people {
	display: flex;
	gap: 15px;
	align-items: center;
}

.cards-card__avatar {
	border-radius: 5px;
}

.card-avatar__description {
	color: var(--color-white);
	line-height: 20px;
}

.cards-title__secondary {
	color: var(--color-white);
	padding-bottom: 30px;
}

.cards-subtitle__secondary {
	padding-bottom: 10px;
	color: var(--color-white);
}

@media (max-width: 768px) {
	.section-cards__container {
		padding: 50px 30px 0 30px;
		height: auto;
	}

	.cards-card {
		width: 45%;
		height: auto;
		padding: 16px;
	}

	.section-cards__apostrophe {
		display: none;
	}

	.section-cards__card {
		justify-content: center;
		padding: 50px 0 50px 0;
	}

	.cards-card__avatar {
		width: 40px;
		height: 40px;
	}

	.cards-card__description {
		line-height: 25px;
	}

	.cards-avater__description {
		line-height: 5px;
	}

	.s3-b-r {
		margin-bottom: 10px;
	}
}

@media (max-width: 480px) {
	.cards-card {
		width: 100%;
	}

	.section-cards__container {
		padding: 50px 30px 0 30px;
		height: auto;
	}
}