.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding-top: 150px;
}

.footer__links {
	width: 60%;
	height: max-content;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 70px;
}

.links__title {
	color: var(--color-white);
}

.links__arrow {
	width: 80%;
}

.links__social {
	display: flex;
	flex-direction: row;
	gap: 18px;
}

.footer__copyright {
	padding-bottom: 25px;
	color: var(--color-white);
}

.footer__logo {
	color: var(--color-white);
}

@media (max-width: 768px) {
	.footer {
		padding-top: 50px;
	}

	.footer__links {
		width: 90%;
		flex-direction: row;
	}
}

@media (max-width: 480px) {
	.footer {
		height: 100%;
	}

	.footer__links {
		width: 80%;
		flex-wrap: wrap;
		justify-content: center;
		gap: 24px;
		padding: 50px 0 20px 0;
	}
}