:root {
    /* color */
    --color-main-background: #011627;
    --color-main: #41EAD4;
    --button-color: #00C9E0;
    --color-white: white;
    --color-main-opacity: #41ead449;
    --color-black: black;
    --color-cards: #02223B;
}